@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
*:focus-visible {
  outline-offset: 0 !important;
  --ring-offset: 0 !important;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 3px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
